@import '../../../1_base_style/variable.scss';
@import '~foundation-sites/scss/foundation';

#PageCart {
  table {
    thead,tbody {
      tr {
        td, th {
          font-weight: 400;
          font-size: 0.9rem;
        }
      }
    }
  }
  .margin-top {margin-top: 1rem;}
  margin-bottom: 1rem;

  hr {
    margin-top: 0rem;
  }


  .subtotal, .total{
    color: $b2red;
    font-weight: bold;
  }

  .tr-items {
    background-color: $light-gray;
  }
}

#PageCart {
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}
#PageCart .items-table {
  #quantity {
    width: 7rem;
    text-align: center;
  }
  img {
    max-height: rem-calc(80);
    max-width: rem-calc(80);
  }

  div .items-row {
    border: 1rem solid $light-gray;
  }
}

#PageCart .checkout-bar {
  background-color: $medium-gray;

  td {
    padding: 0 0.5rem;
  }

  button.CheckoutBtn {
    position: relative;
    margin-top: 0.8rem;
    padding-left: 2.5rem;
    background-color: $b2red;
    &:before {
      content: '';
      background: url(/img/common-img/cart_icon.svg);
      height: 1.2rem;
      width: 1.2rem;
      display: inline-block;
      position: absolute;
      top: 23%;
      left: 11%;
    }
  }
}

#PageCart #emptyCart {
  a {
    color: $b2red;
  }
}

#PageCart #quantity {
  input {
    margin: 0;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
  }
  .qty{
    width: rem-calc(40);
    height: rem-calc(30);
  }
  input[type="button"] {
    width: rem-calc(30);
    height: rem-calc(30);
    &:nth-child(1) {
      margin-right: -1px;
    }
    &:nth-child(3) {
      margin-left: -5px;
    }
  }
}